{
    "ConnectionStrings": {
        "ClassName": "org.sqlite.JDBC",
        "ClassPath": "jdbc:sqlite",
        "DatabasePath": "lib/App_Data/DB/EBS.db"
    },
    
    "EmailConfigurations": {
        "PersonalName": "Electricity Company",
        "SenderEmail": "electricitycompanymailer@gmail.com",
        "SenderPassword": "Team_AEKMMW",
        "Host": "smtp.office365.com",
        "Port": "587"
    }

}
